[submodule "vim-matchit"]
	path = vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "file-line"]
	path = file-line
	url = git://github.com/bogado/file-line.git
[submodule "ctrlp"]
	path = ctrlp
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bufexplorer.zip"]
	path = bufexplorer.zip
	url = https://github.com/vim-scripts/bufexplorer.zip.git
